@-webkit-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@-moz-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes display_after_delay {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes display_after_delay {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes display_after_delay {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.story[story-id="story01test"] {
  width: 800px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.story[story-id="story01test"] .plan .ball {
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  font-size: 1em;
  line-height: 1.1em;
}
.story[story-id="story01test"] .plan .button {
  background: gray;
  text-align: center;
  height: auto;
  padding: 1%;
  font-size: 2em;
  width: 11%;
  bottom: 1%;
  right: 1%;
}
.story[story-id="story01test"] .plan .button:after {
  content: "...";
}
.story[story-id="story01test"] .plan .button[ready="1"] {
  background: #00c70a;
}
.story[story-id="story01test"] .plan .button[ready="1"]:after {
  content: ">";
}
.story[story-id="story01test"] .plan .button.back {
  right: auto;
  left: 1%;
}
.story[story-id="story01test"] .plan .button.back:after {
  content: "<";
}
.story[story-id="story01test"] .plan[plan-id="p00"] .button {
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: #252525;
  color: #fff;
  line-height: 1500%;
}
.story[story-id="story01test"] .plan[plan-id="p00"] .button:after {
  content: " (chargement)";
}
.story[story-id="story01test"] .plan[plan-id="p00"] .button[ready="1"]:after {
  content: "";
}
.story[story-id="story01test"] .plan[plan-id="p01"] .element[element-id="window"] {
  background-image: url("../images/01/window.png");
  z-index: 1;
  -webkit-animation: p01_floating ease-in-out 3s infinite;
  -moz-animation: p01_floating ease-in-out 3s infinite;
  animation: p01_floating ease-in-out 3s infinite;
}
@-webkit-keyframes p01_floating {
  from {
    margin-top: -1%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 1%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -1%;
    opacity: 1;
  }
}
@-moz-keyframes p01_floating {
  from {
    margin-top: -1%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 1%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -1%;
    opacity: 1;
  }
}
@keyframes p01_floating {
  from {
    margin-top: -1%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 1%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -1%;
    opacity: 1;
  }
}
.story[story-id="story01test"] .plan[plan-id="p01"] .element[element-id="scene01"] {
  background-image: url("../images/01/scene01.png");
  -webkit-animation: p01_blink linear 3s infinite;
  -moz-animation: p01_blink linear 3s infinite;
  animation: p01_blink linear 3s infinite;
}
@-webkit-keyframes p01_blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
@-moz-keyframes p01_blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
@keyframes p01_blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
.story[story-id="story01test"] .plan[plan-id="p01"] .ball[ball-id="bulle01"] {
  left: 4%;
  top: 60%;
  width: auto;
  height: auto;
  -webkit-animation: display_after_delay linear 1s;
  -moz-animation: display_after_delay linear 1s;
  animation: display_after_delay linear 1s;
}
.story[story-id="story01test"] .plan[plan-id="p02"] .element[element-id="window"] {
  background-image: url("../images/02/window.png");
  z-index: 1;
  -webkit-animation: p02_floating ease-in-out 3s infinite;
  -moz-animation: p02_floating ease-in-out 3s infinite;
  animation: p02_floating ease-in-out 3s infinite;
}
@-webkit-keyframes p02_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
@-moz-keyframes p02_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
@keyframes p02_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
.story[story-id="story01test"] .plan[plan-id="p02"] .element[element-id="scene01"] {
  background-image: url("../images/02/scene01.png");
  -webkit-animation: p02_blink linear 3s infinite;
  -moz-animation: p02_blink linear 3s infinite;
  animation: p02_blink linear 3s infinite;
}
@-webkit-keyframes p02_blink {
  0% {
    background-image: url("../images/02/scene01.png");
  }
  2% {
    background-image: url("../images/02/scene02.png");
  }
  4% {
    background-image: url("../images/02/scene01.png");
  }
}
@-moz-keyframes p02_blink {
  0% {
    background-image: url("../images/02/scene01.png");
  }
  2% {
    background-image: url("../images/02/scene02.png");
  }
  4% {
    background-image: url("../images/02/scene01.png");
  }
}
@keyframes p02_blink {
  0% {
    background-image: url("../images/02/scene01.png");
  }
  2% {
    background-image: url("../images/02/scene02.png");
  }
  4% {
    background-image: url("../images/02/scene01.png");
  }
}
.story[story-id="story01test"] .plan[plan-id="p02"] .ball[ball-id="bulle01"] {
  left: 53%;
  top: 25%;
  width: auto;
  height: auto;
  -webkit-animation: display_after_delay linear 1s;
  -moz-animation: display_after_delay linear 1s;
  animation: display_after_delay linear 1s;
}
.story[story-id="story01test"] .plan[plan-id="p02"] .ball[ball-id="bulle02"] {
  left: 10%;
  top: 49%;
  width: 30%;
  height: auto;
  -webkit-animation: display_after_delay linear 2.5s;
  -moz-animation: display_after_delay linear 2.5s;
  animation: display_after_delay linear 2.5s;
}
.story[story-id="story01test"] .plan[plan-id="p03"] .element[element-id="window"] {
  background-image: url("../images/03/window.png");
  z-index: 1;
  left: 20%;
  -webkit-animation: p03_floating ease-in-out 3s infinite;
  -moz-animation: p03_floating ease-in-out 3s infinite;
  animation: p03_floating ease-in-out 3s infinite;
}
@-webkit-keyframes p03_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
@-moz-keyframes p03_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
@keyframes p03_floating {
  from {
    margin-top: -0.6%;
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    margin-top: 0.6%;
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  to {
    margin-top: -0.6%;
    opacity: 1;
  }
}
.story[story-id="story01test"] .plan[plan-id="p03"] .element[element-id="scene01"] {
  background-image: url("../images/03/scene.png");
}
.story[story-id="story01test"] .plan[plan-id="p03"] .ball[ball-id="bulle01"] {
  left: 3%;
  top: 2%;
  width: 80%;
  height: auto;
  -webkit-animation: display_after_delay linear 1s;
  -moz-animation: display_after_delay linear 1s;
  animation: display_after_delay linear 1s;
}
.story[story-id="story01test"] .plan[plan-id="p04"] .element[element-id="perso"] {
  background-image: url("../images/04.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p05"] .element[element-id="perso"] {
  background-image: url("../images/05.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p06"] .element[element-id="perso"] {
  background-image: url("../images/06.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p07"] .element[element-id="perso"] {
  background-image: url("../images/07.jpg");
}
