
// animations
.animation(@animation){
  -webkit-animation: @animation;
  -moz-animation: @animation;
  animation: @animation;
}

.create-animation(@name, @code){
  @-webkit-keyframes @name {@code();}
  @-moz-keyframes @name {@code();}
  @keyframes @name {@code();}
}

// creating an animation with name
.create-animation(custom-animation_fadeLeft,{
  from{
    left: 0%;
  }
  to{
    left: -100%;
  }
});

// standard animations
.create-animation(display_after_delay,{
  from{ opacity: 0; }
  99%{ opacity: 0; }
  to{ opacity: 1; }
});

// utils
.border-radius(@value){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  -ms-border-radius: @value;
  -o-border-radius: @value;
  border-radius: @value;
}

.story{
  &[story-id="story01test"]{
    width: 800px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    .plan{
      &.start{
      }
      &.stop{
      }
      .element{
      }
      .ball{
        .border-radius(0.8em);
        font-size: 1em;
        line-height: 1.1em;
      }
      .button{
        &.back{
          right: auto;
          left: 0%;
        }
        .create-animation(waiting_button,{
          from{
            margin-left: -10px;
          }
          to{
            margin-left: 10px;
          }
        });
        .animation(waiting_button 0.05s infinite);
        &[ready="1"]{
          .animation(none);
          background: blue;
        }
      }
      &[plan-id="p01"]{
        .element{
          &[element-id="window"]{
            background-image: url("../images/01/window.png");
            z-index: 1;
            .create-animation(p01_floating,{
              from{ margin-top: -1%; opacity: 1 }
              25%{ opacity: 0.8 }
              50%{ margin-top: 1%; opacity: 1 }
              75%{ opacity: 0.8 }
              to{ margin-top: -1%; opacity: 1 }
            });
            .animation(p01_floating ease-in-out 3s infinite);
          }
          &[element-id="scene01"]{
            background-image: url("../images/01/scene01.png");
            .create-animation(p01_blink,{
            0%{ background-image: url("../images/01/scene01.png"); }
            2%{ background-image: url("../images/01/scene02.png"); }
            4%{ background-image: url("../images/01/scene01.png"); }
            to{  }
            });
            .animation(p01_blink linear 3s infinite);
          }
        }
        .ball{
          &[ball-id="bulle01"]{
            left: 4%;
            top: 60%;
            width: auto;
            height: auto;
            .animation(display_after_delay linear 1s);
          }
        }
      }
      &[plan-id="p02"]{
        .element{
          &[element-id="window"]{
            background-image: url("../images/02/window.png");
            z-index: 1;
            .create-animation(p02_floating,{
            from{ margin-top: -0.6%; opacity: 1 }
            25%{ opacity: 0.8 }
            50%{ margin-top: 0.6%; opacity: 1 }
            75%{ opacity: 0.8 }
            to{ margin-top: -0.6%; opacity: 1 }
            });
            .animation(p02_floating ease-in-out 3s infinite);
          }
          &[element-id="scene01"]{
            background-image: url("../images/02/scene01.png");
            .create-animation(p02_blink,{
            0%{ background-image: url("../images/02/scene01.png"); }
            2%{ background-image: url("../images/02/scene02.png"); }
            4%{ background-image: url("../images/02/scene01.png"); }
            to{  }
            });
            .animation(p02_blink linear 3s infinite);
          }
        }
        .ball{
          &[ball-id="bulle01"]{
            left: 53%;
            top: 25%;
            width: auto;
            height: auto;
            .animation(display_after_delay linear 1s);
          }
          &[ball-id="bulle02"]{
            left: 10%;
            top: 49%;
            width: 30%;
            height: auto;
            .animation(display_after_delay linear 2.5s);
          }
        }
      }
      &[plan-id="p03"]{
        .element[element-id="perso"]{
          background-image: url("../images/03.jpg");
        }
      }
      &[plan-id="p04"]{
        .element[element-id="perso"]{
          background-image: url("../images/04.jpg");
        }
      }
      &[plan-id="p05"]{
        .element[element-id="perso"]{
          background-image: url("../images/05.jpg");
        }
      }
      &[plan-id="p06"]{
        .element[element-id="perso"]{
          background-image: url("../images/06.jpg");
        }
      }
      &[plan-id="p07"]{
        .element[element-id="perso"]{
          background-image: url("../images/07.jpg");
        }
      }
    }
  }
}
