@-webkit-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@-moz-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
.story[story-id="story01test"] {
  width: 600px;
}
.story[story-id="story01test"] .plan .ball {
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  font-size: 2em;
}
.story[story-id="story01test"] .plan .button {
  -webkit-animation: waiting_button 0.05s infinite;
  -moz-animation: waiting_button 0.05s infinite;
  animation: waiting_button 0.05s infinite;
}
.story[story-id="story01test"] .plan .button.back {
  right: auto;
  left: 0%;
}
@-webkit-keyframes waiting_button {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 10px;
  }
}
@-moz-keyframes waiting_button {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 10px;
  }
}
@keyframes waiting_button {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 10px;
  }
}
.story[story-id="story01test"] .plan .button[ready="1"] {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  background: blue;
}
.story[story-id="story01test"] .plan[plan-id="p01"] .element[element-id="window"] {
  background-image: url("../images/01/window.png");
  z-index: 1;
  -webkit-animation: floating ease-in-out 3s infinite;
  -moz-animation: floating ease-in-out 3s infinite;
  animation: floating ease-in-out 3s infinite;
}
@-webkit-keyframes floating {
  from {
    margin-top: -1%;
  }
  50% {
    margin-top: 1%;
  }
  to {
    margin-top: -1%;
  }
}
@-moz-keyframes floating {
  from {
    margin-top: -1%;
  }
  50% {
    margin-top: 1%;
  }
  to {
    margin-top: -1%;
  }
}
@keyframes floating {
  from {
    margin-top: -1%;
  }
  50% {
    margin-top: 1%;
  }
  to {
    margin-top: -1%;
  }
}
.story[story-id="story01test"] .plan[plan-id="p01"] .element[element-id="scene01"] {
  background-image: url("../images/01/scene01.png");
  -webkit-animation: blink linear 3s infinite;
  -moz-animation: blink linear 3s infinite;
  animation: blink linear 3s infinite;
}
@-webkit-keyframes blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
@-moz-keyframes blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
@keyframes blink {
  0% {
    background-image: url("../images/01/scene01.png");
  }
  2% {
    background-image: url("../images/01/scene02.png");
  }
  4% {
    background-image: url("../images/01/scene01.png");
  }
}
.story[story-id="story01test"] .plan[plan-id="p01"] .ball[ball-id="bulle01"] {
  left: 4%;
  top: 60%;
  width: auto;
  height: auto;
}
.story[story-id="story01test"] .plan[plan-id="p02"] .element[element-id="perso"] {
  background-image: url("../images/02.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p03"] .element[element-id="perso"] {
  background-image: url("../images/03.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p04"] .element[element-id="perso"] {
  background-image: url("../images/04.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p05"] .element[element-id="perso"] {
  background-image: url("../images/05.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p06"] .element[element-id="perso"] {
  background-image: url("../images/06.jpg");
}
.story[story-id="story01test"] .plan[plan-id="p07"] .element[element-id="perso"] {
  background-image: url("../images/07.jpg");
}
