
// animations
.animation(@animation){
  -webkit-animation: @animation;
  -moz-animation: @animation;
  animation: @animation;
}

.create-animation(@name, @code){
  @-webkit-keyframes @name {@code();}
  @-moz-keyframes @name {@code();}
  @keyframes @name {@code();}
}

// creating an animation with name
.create-animation(custom-animation_fadeLeft,{
  from{
    left: 0%;
  }
  to{
    left: -100%;
  }
});

// utils
.border-radius(@value){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  -ms-border-radius: @value;
  -o-border-radius: @value;
  border-radius: @value;
}

.story{
  &[story-id="story01test"]{
    width: 600px;
    .plan{
      &.start{
      }
      &.stop{
      }
      .element{
      }
      .ball{
        .border-radius(0.4em);
        font-size: 2em;
      }
      .button{
        &.back{
          right: auto;
          left: 0%;
        }
        .create-animation(waiting_button,{
          from{
            margin-left: -10px;
          }
          to{
            margin-left: 10px;
          }
        });
        .animation(waiting_button 0.05s infinite);
        &[ready="1"]{
          .animation(none);
          background: blue;
        }
      }
      &[plan-id="p01"]{
        .element{
          &[element-id="window"]{
            background-image: url("../images/01/window.png");
            z-index: 1;
            .create-animation(floating,{
              from{ margin-top: -1%; }
              50%{ margin-top: 1%; }
              to{ margin-top: -1%; }
            });
            .animation(floating ease-in-out 3s infinite);
          }
          &[element-id="scene01"]{
            background-image: url("../images/01/scene01.png");
            .create-animation(blink,{
            0%{ background-image: url("../images/01/scene01.png"); }
            2%{ background-image: url("../images/01/scene02.png"); }
            4%{ background-image: url("../images/01/scene01.png"); }
            to{  }
            });
            .animation(blink linear 3s infinite);
          }
        }
        .ball{
          &[ball-id="bulle01"]{
            left: 4%;
            top: 60%;
            width: auto;
            height: auto;
          }
        }
      }
      &[plan-id="p02"]{
        .element[element-id="perso"]{
          background-image: url("../images/02.jpg");
        }
      }
      &[plan-id="p03"]{
        .element[element-id="perso"]{
          background-image: url("../images/03.jpg");
        }
      }
      &[plan-id="p04"]{
        .element[element-id="perso"]{
          background-image: url("../images/04.jpg");
        }
      }
      &[plan-id="p05"]{
        .element[element-id="perso"]{
          background-image: url("../images/05.jpg");
        }
      }
      &[plan-id="p06"]{
        .element[element-id="perso"]{
          background-image: url("../images/06.jpg");
        }
      }
      &[plan-id="p07"]{
        .element[element-id="perso"]{
          background-image: url("../images/07.jpg");
        }
      }
    }
  }
}
