@-webkit-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@-moz-keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes custom-animation_fadeLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
[image-src-preload] {
  display: none;
}
img[preloading-image] {
  display: none;
}
.story {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  color: #111;
  text-transform: uppercase;
}
.story * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.story .plan {
  display: none;
  z-index: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.story .plan.start {
  display: block;
  z-index: 2;
}
.story .plan.stop {
  display: none;
  z-index: 1;
}
.story .plan .element {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.story .plan .ball {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  z-index: 990;
  background: #fff;
  padding: 2.4% 2.4% 2% 2.4%;
}
.story .plan .button {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 15%;
  height: 5%;
  z-index: 1000;
}
.story .plan .button[ready="1"] {
  cursor: pointer;
}
